.menu {
  display: flex;
  justify-content: center;
  width: 86%;
  margin: 0 auto;
  padding-top: 20px; 
  padding-bottom: 20px;
  height: 40px;
  position: sticky;
  top: 64px;
  z-index: 1;
}

.menu select {
  width: 100%;
  font-size: 13pt;
  color: #262626;
  border: 0.1px solid #E6E6E6;
  border-radius: 5px;
}

option {
  text-align: center;
  font-weight: bold;
}


