.header {
    font-size: 23pt;
    color: #0b07ee;
    padding-bottom: 15px;
    padding-top: 15px;
    justify-content: center; 
    align-items: center;
    height: 40px; 
    width: 100%;
    border-bottom: 0.1px solid #E6E6E6;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 3;
    text-align: center;
}
 