.header {
    font-size: 23pt;
    color: #262626;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 40px; 
    border-bottom: 0.1px solid #E6E6E6;
    background-color: #FFFFFF;
    position: sticky;
    top: 24px;
    z-index: 2;

}
 