.header {
    font-size: 23pt;
    color: #262626;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60px; 
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}
 