.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
    background-color: #FFFFFF
  }
  
.header {
    font-size: 23pt;
    color: #262626;
    height: 50px;
    padding-top: 20px
}
 