body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: Arial, sans-serif;
  font-size: 23px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

